extends ../base.pug

block content
  h3 #{action} Photo
  form(method="POST", enctype="multipart/form-data")
    .form-group
      label(for="title") Category
      input.form-control(type="text", name="category", id="category", value=photo.category)
    .form-group
      label(for="author") Clicked By
      input.form-control(type="text", name="author", id="author", value=photo.author)
    .form-group
      label(for="publishedDate") Date Taken
      input.form-control(type="text", name="dateTaken", id="dateTaken", value=photo.dateTaken)
    .form-group
      label(for="image") Image
      input.form-control(type="file", name="image", id="image")
    .form-group.hidden
      label(for="imageUrl") Actual Image URL
      input.form-control(type="text", name="imageUrl", id="imageUrl", value=photo.imageUrl)
    .form-group.hidden
      label(for="createdBy") Uploaded by
      input.form-control(type="text", name="uploadedBy", id="uploadedBy", value=photo.uploadedBy)
    .form-group.hidden
      label(for="createdById") Uploaded by ID
      input.form-control(type="text", name="uploadedById", id="uploadedById", value=photo.uploadedById)
    button.btn.btn-success(type="submit") Save
