extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        a.navbar-brand(href='/') Google Cloud Vision
      p.navbar-text.navbar-right
        if profile
          if profile.image
            img.img-circle(src=profile.image.url, width='24')
          span
            | Hi #{profile.displayName}  
            a(href="/oauth2/logout") Logout 
        else      
          a(href="/oauth2/authorize") Login
  .container-fluid(style="background:#dedede;")
    .content
      h3 Google Cloud Vision
      //- h1 vision
      //- p Response #{vision.response}
      if profile
        .alert.alert-success
          | Welcome #{profile.displayName}
        form(action='/', method='post', enctype='multipart/form-data')
          .form-group
            label(for='image') Image
            input#image.form-control(type='file', name='image')
          if featureTypes
            .form-group
              label(for='imageType') Type of image feature:
              select.form-control(name='imageType')
                each val in featureTypes
                  option= val
            .form-group
              label(for='maxResults') Max results:
              select.form-control(name='maxResults')
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
                option 10
          .form-group
            button.btn.btn-success(type='submit') Submit
        if vision
          p= JSON.stringify(vision)
          each obj in #{vision.prettyprint.responses.labelAnnotations}
            .panel.panel-default
              .panel-heading
                h3.panel-title Output
              #panel-body.panel-body
                p= obj
                if obj.description
                  pre.prettyprint #{vision.prettyprint}      
                canvas#panel-canvas.canvas
                script.
                  initCanvas(#{vision.imageUrl}, #{vision.response});
        if error
          .alert.alert-danger(role='alert') #{error}
        if vision
          .panel.panel-default
            .panel-heading
              h3.panel-title Output
            #panel-body.panel-body
              img(src=#{vision.imageUrl}, height='600', width='600')
      else    
        .alert.alert-info
          | Please 
          strong
            a(href='#') login
          |  to continue
  script(src='//code.jquery.com/jquery-2.2.0.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
